.jobContainer {
    display: flex;
    overflow: hidden; /* Hide overflowing content */
}

.cardContainer {
    display: inline-block; /* Prevent cards from wrapping */
    white-space: nowrap; /* Prevent cards from wrapping */
    animation: marquee 100s linear infinite;  /* Apply marquee animation */
}

.card {
    width: 100px; /* Adjust width as needed */
    height: 100px; /* Adjust height as needed */
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
}

@keyframes marquee {
    0% {
        transform: translateX(100%); /* Start position from the right side */
    }
    100% {
        transform: translateX(calc(-300% - 60px)); /* Move off screen to the left */
    }
}

.cardContainer {
    animation-iteration-count: infinite;
}

.cardContainer:hover {
    animation-play-state: paused; /* Pause animation on hover */
}

#workerCard {
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}

#workerCard:hover {
    transform: scale(1.01);
    background-color: black; 
    color: white; 
}

#workerdatacard {
    /* box-shadow: 0px 0px .5px .5px blue; */
    box-shadow: 0 0 5px 1px rgba(0, 0, 255, 0.5);
  }

  #workerdatacard:hover {
    /* box-shadow: 0px 0px .5px .5px blue; */
    box-shadow: 0 0 5px 2px rgba(0, 0, 255, 0.5);
  }
  