.blueCollarGigsTitle{
color: black;
padding-left: 10%;
}

.navbar{
    box-shadow:1px 0px 1px black;
}

#loginRegister{
cursor: pointer;
color:black;
}

#profileIcon{
   font-size: 25px;
   color: #a92b2b;
   cursor: pointer;
}

/* Navy Blue (#001F3F)
Silver (#C0C0C0)
Charcoal Gray (#333333) */