#profilePhoto {
    width: 140px;
    height: 140px;
}

#profilePhotoInput{
display: none;
}

#sideBar{
    border-right: 1px solid #ccc;
}

#sideBar a:hover {
    color: #28a745;
    cursor: pointer;
    background-color: #ccc;
}